<div class="ui sizer vertical segment">
    <h1 class="ui huge header blurpleColor alignTextCenter pageHeader homeHeader">A</h1>
    <div class="ui huge header blurpleColor alignTextCenter pageHeader homeHeader">Growing <img id="Discord" src="https://i.imgur.com/hyDkP7p.png"></div>
    <div class="ui huge header blurpleColor alignTextCenter pageHeader homeHeader">Community</div>
</div>