<style><%- include ../../public/css/navbar.css %></style>

<div class="navigationbar">
    <div class="ui sizer vertical segment">
        <div class="ui huge header lightColor alignTextCenter"><%= client.config.website.title %></div>
    </div>

    <div class="ui fluid six item menu secondary">
        <a class="item lightColor" href="/">Home</a>
        <a class="item lightColor" href="/rules">Rules</a>
        <a class="item lightColor" href="/staff">Staff</a>
        /* <a class="item lightColor" href="/stats">Statistics</a> */
        <a class="item lightColor" href="<%= client.config.website.links.donate %>">Donate</a>
        <a class="item lightColor" href="<%= client.config.website.links.discord %>">Join</a>
    </div>
</div>