<div class="ui medium card darkBackground userCard">
    <div class="ui medium image">
        <img src="<%= member.user.displayAvatarURL({ size: 256 }) %>" width="128">
    </div>
    <div class="content">
        <a class="header lightColor"><%= member.user.tag %></a>
    </div>
</div>