<%- include ./parts/home/header.ejs %>


<a id="homeJoinButton" class="ui button primary" href="<%= client.config.website.links.discord %>">Join</a>

<%- include ./parts/home/informationHeader.ejs %>

<div id="homeCardsHolder">
    <a id="rulesCard" href="/rules">
        <h1>Rules</h1>
        <img src="https://i.imgur.com/zwIojfS.png" width="180px">
    </a>

    <a id="staffCard" href="/staff">
        <h1>Staff</h1>
        <img src="https://i.imgur.com/g5SXyc0.png" width="180px">
    </a>
</div>

<!--<iframe src="https://discordapp.com/widget?id=514054876058222592&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>-->

<!--<div id="homeJoinHolder"><div id="homeJoin">Join</div></div>-->