<% results.map(row => { %>
        <div class="ui icon darkBackground message" id="comment_box">
            <i class="icon iconBox">
                <img class="commentAvatar" src="<%= row.avatar %>" width="48px">
            </i>
            <div class="content">
                <a class="header lightColor" href=""></a>
                <p class="lightColor"></p>
            </div>
        </div>
<% }); %>